{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>CRUD Example</title>

{% endblock %}

<!-- Navigation -->
{% block nav %}
{% include "main/components/nav/nav.html" %}
{% endblock %}


{% block content %}
<!-- Page content-->
<div class="container">
  <div class="text-center mt-5">
    <h1>Page intro here</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae, numquam.
  </div>
  </p>
</div>
</div>
{% endblock %}

<!-- Modals-->
{% block modal %}
{% include "main/components/modals/login.html" %}
{% endblock %}