{% extends "base.html" %}

{% block head %}
{{ super() }}
<title>Login</title>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Sign In</h5>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                    <form method="POST" action="{{ url_for('auth.login') }}">
                        <div class="form-outline mb-4">
                            <label for="username" class="form-label">Username</label>
                            <input type="email" name="username" placeholder="Your Email Address" class="form-control">
                        </div>
                        <div class="form-outline mb-4">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" placeholder="Your Password" class="form-control">
                        </div>
                        <div>
                            <div class="d-grid">
                                <button class="btn btn-primary btn-login fw-bold" type="submit">Sign in</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}