{% block modal %}
{% if not new_user %}
<!-- Edit Password Change Modal HTML -->
<div id="passwordModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content bg-dark p-3">
            <h5 class="text-center fw-light text-light">Change Password</h5>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('aum.change_password', id=user.id) }}">
                <div class="form-outline mb-4">
                    <label for="password" class="form-label text-light">Enter New Password</label>
                    <input type="password" name="password" placeholder="New Password" class="form-control">
                </div>
                <div>
                    <div class="d-grid pt-2">
                        <button class="btn btn-primary btn-login fw-bold" type="submit">Update Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}